/* COMMON */
:root {
  /* font-size */
  --font-maximum: 32px;
  --font-larger: 20px;
  --font-large: 18px;
  --font-medium: 16px;
  --font-small: 14px;
  --font-smaller: 13px;
  --font-minimum: 12px;

  /* color */
  --text-color: #333;
  --background-color: #f2f2f2;
  --border-color: #aaa;
}

/* float clearfix */
.clearfix::after {
  content: '';
  clear: both;
  display: block;
}
.float--left {
  float: left;
}
.float--right {
  float: right;
}

/* hidden */
.hidden {
  display: none !important;
}

/* dropdown */
.dropdown {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.dropdown-content {
  display: none;
  position: absolute;
  top: 90%;
  min-width: 115px;
  border-radius: 5px;
  padding: 10px 0;
  background-color: var(--background-color);
  border: 1px solid #000;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content li {
  padding: 12px 8px;
  font-size: var(--font-medium);
  color: var(--text-color);
}
.dropdown-content li:last-child {
  margin-bottom: 0;
}
.dropdown-content li:hover {
  background-color: #555;
  color: #fff;
  font-weight: bold;
}

/* BODY */
.body__container {
  position: relative;
  box-sizing: border-box;
  font-family: 'Jost', 'NotoSansKR', sans-serif;
  font-size: var(--font-medium);
  font-weight: 400;
  color: var(--text-color);
}
a {
  text-decoration: none;
  color: var(--text-color);
}

/* inner */
.inner--big {
  max-width: 1415px;
  margin: 0 auto; /* 가운데 정렬(가로 크기가 설정되어있어야 함) */
  position: relative;
}
.inner--small {
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
}

/* HEADER */
#header.fixed--top {
  border-bottom: 1px solid rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  font-size: var(--font-larger);
  background: var(--background-color);
  position: fixed !important;
  width: 100%;
  z-index: 9999;
}
header .inner--big {
  height: 78px;
}
header .gnb {
  display: flex;
  align-items: center;
  height: 100%;
}

/* logo */
header .gnb .logo {
  margin-right: 30px;
}
header .gnb .logo a {
  display: block;
  background: url('../img/luckydice--60x50.png');
  width: 60px;
  height: 50px;
  text-indent: -9999px;
}

/* gnb__product */
header .gnb .gnb__product {
  display: flex;
  border-right: 1px solid var(--border-color);
  padding-right: 10px;
}
header .gnb__product .product-menu {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 20px;
  font-weight: 700;
  color: var(--text-color);
}
header .gnb__product .category {
  cursor: default;
}
header .gnb__product .product-menu:hover {
  color: #000;
}

/* gnb__bulletin-board */
header .gnb .gnb__bulletin-board {
  display: flex;
  padding-left: 10px;
  align-items: center;
}
header .gnb__bulletin-board .bbs {
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 15px;
  color: var(--text-color);
}
header .gnb__bulletin-board .lnb__bbs {
  font-weight: 700;
}
header .gnb__bulletin-board .bbs:hover {
  color: #000;
}

/* gnb__member-menu */
header .gnb .gnb__member-menu {
  display: flex;
  height: 100%;
  align-items: center;
  font-size: var(--font-small);
}
#member-menu {
  order: 2;
  display: flex;
  margin-left: 20px;
  align-items: center;
}
#member-menu li a {
  margin-right: 15px;
  color: #555;
}
#member-menu li a:hover {
  color: #000;
}
#member-menu .shopping-basket {
  display: block;
  background: url('../img/icon/shopping-basket--20x20.png');
  margin-left: 10px;
  margin-bottom: 3px;
  width: 20px;
  height: 20px;
}
#member-menu .my-page {
  display: block;
  background: url('../img/icon/meeple--20x20.png');
  margin-bottom: 3px;
  width: 20px;
  height: 20px;
}

/* search-form */
#search-form {
  order: 1;
  margin-right: 12px;
  border-radius: 50px;
  width: 300px;
  height: 30px;
  background-color: #fff;
  border: 2px solid #fff;
}
#search {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 50px;
  padding-left: 20px;
  width: 80%;
  height: 90%;
  font-size: var(--font-smaller);
}
#search:focus {
  outline: none;
}
#search + [type='submit'] {
  border: none;
  background-color: #fff;
  cursor: pointer;
}

/* MAIN */
/* common--main */
#main {
  background-color: var(--background-color);
}
main .inner--small > p.title {
  position: relative;
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: var(--font-maximum);
  line-height: 1.2;
}
main .inner--small > p.title strong {
  font-weight: bold;
  color: #f00;
}
main .inner--small > p.title a {
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: var(--font-small);
  font-weight: bold;
}
main .inner--small > p.title a:hover {
  color: #000;
}

/* main-banner (swiper) */
main .main-banner {
}
main .main-banner .swiper-container {
  width: 100%;
  height: 580px;
}
main .main-banner .swiper-slide img {
  display: block;
  width: 100%;
  height: 580px;
  object-fit: cover;
}
main .main-banner .swiper-pagination-bullet {
  width: 70px;
  height: 8px;
  border-radius: 20px;
  background: #fff;
  opacity: 0.1;
  transition-duration: 700ms;
}
main .main-banner .swiper-pagination-bullet-active {
  opacity: 0.7;
}
main .main-banner .swiper-button-prev,
main .main-banner .swiper-button-next {
  color: #fff;
  font-weight: 900;
  padding: 20px;
  margin-top: -20px;
  opacity: 0.7;
  transition: 500ms;
}
main .main-banner .swiper-button-prev:hover,
main .main-banner .swiper-button-next:hover {
  opacity: 1;
}

/* notice */
main .notice {
  padding-bottom: 30px;
}
main .notice .inner--small {
  overflow: hidden;
}
main .notice .noti-box {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 48.75%);
  grid-template-rows: repeat(2, 180px);
  column-gap: 2.5%;
  row-gap: 30px;
}
main .noti-box .noti-box__item {
  font-size: var(--font-medium);
  background-color: #fff;
}
main .noti-box__item a {
  display: grid;
  height: 100%;
  grid-template-columns: 30% 70%;
}
main .noti-box__item a .noti-img {
  display: flex;
  align-items: center;
}
main .noti-img img {
  width: 100%;
  height: 100%;
}
main .noti-img img.noti-img--default {
  width: 100%;
  height: 80%;
}
main .noti-box__item a .noti-info {
  padding: 10% 7%;
}
main .noti-info .noti-title {
  margin-bottom: 5%;
  color: #000;
  font-weight: bold;
}
main .noti-info .noti-date {
  font-size: var(--font-small);
}
main .noti-info .noti-date::before {
  content: '공지사항';
  margin-right: 10px;
  font-size: var(--font-small);
  color: #f00;
}

/* recommended-product */
main .recommended-product {
  padding-bottom: 30px;
}
main .recommended-product .recommend-list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 360px);
  column-gap: 2.5%;
  row-gap: 30px;
}
main .recommend-list .recommend-list__item {
}
main .recommend-list__item .reco-item-title {
  margin: 15px 0;
  font-size: var(--font-larger);
  font-weight: bold;
}
main .recommend-list__item .reco-item-title .float--right {
  font-weight: normal;
  color: #f00;
}
main .recommend-list__item .reco-item-tag-list__item {
  display: inline;
  margin-right: 5px;
}

/* mid-banner */
main .mid-banner .inner--small {
  padding: 30px 0;
  border-top: 2px dotted var(--border-color);
}
main .mid-banner img {
  width: 100%;
}

/* bottom-banner */
main .bottom-banner {
  padding-bottom: 30px;
}
main .bottom-banner .swiper-container {
  width: 100%;
}
main .bottom-banner .swiper-slide img {
  display: block;
  width: 100%;
}
main .bottom-banner .swiper-pagination {
  bottom: 40px;
  font-size: var(--font-larger);
}

/* FOOTER */
footer {
  background-color: #222;
  font-size: var(--font-smaller);
  color: #fff;
}
footer .inner--small {
  padding: 100px 0;
}

/* footer--top */
footer .footer--top {
  padding-bottom: 15px;
  border-bottom: 1.5px solid var(--border-color);
}
footer .footer--top .info-menu {
  display: flex;
  align-items: center;
}
footer .info-menu .logo {
  width: 80px;
  margin-right: 35px;
}
footer .info-menu .info--list {
  display: flex;
  font-size: var(--font-medium);
}
footer .info-menu .info--item {
  margin-right: 20px;
}
footer .footer--top .kbg--link {
  display: flex;
  align-items: center;
  padding-top: 15px;
  color: #fff;
}
footer .kbg--link img {
  height: 30px;
}

/* footer--bottom */
footer .footer--bottom {
  padding: 40px 0;
  background-color: tomato;
}
footer .footer--bottom .company-info {
  font-size: var(--font-small);
  line-height: 1.3;
}
footer .company-info span {
  margin-right: 10px;
}
